/**/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes menu_highlight{
  from {transform: rotate(0deg);  border-radius: 25% 0 0 0;}
  to   {transform: rotate(90deg); border-radius: 0 0 0 25%;}
}

@keyframes menu_downlight{
  from {transform: rotate(90deg); border-radius: 0 0 0 25%;}
  to   {transform: rotate(0deg);  border-radius: 25% 0 0 0;}
}

@keyframes menu_popup{
  from {border-radius: 100% 0 0 0; right: 0; width: 100%; height: 0%; }
  to   {height: 100%; border-radius: 0;}
}

@media screen and (min-width: 800px) {
  #mobile_content {
    position: fixed;
    top: -200vh;
    visibility:hidden;
    z-index: -80;
  }
  .header_item{
    position: relative;
    top: 20%;
    left: 50%;
  }
}

@media screen and (max-width: 800px) {
  #desktop_content {
    position: fixed;
    top: -200vh;
    visibility:hidden;
    z-index: -80;
  }
}

* {
  padding: 0;
  margin: 0;
}

.hamburger {
  animation-name: menu_downlight;
  animation-duration: 100ms;

  width: 14.6vw;
  height: 14.6vw;
  padding: 2vw 2vw 2vw 2vw;

  position: fixed;
  right: 0;
  bottom: 0;

  background-color: white;

  border-radius: 25% 0 0 0;
  /*
  border-width: 1px;
  border-style:solid;
  */

  box-shadow: -1px -1px 5px black;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.pressed{
  animation-name: menu_highlight;
  animation-duration: 100ms;
  transform: rotate(90deg);
  border-radius: 0 0 0 25%;
}
.menu_content {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  z-index: 1;
  border-radius: 50% 0 0 0;
}

.show {display: block;}

#menu.show{
  animation-name: menu_popup;
  animation-duration: 500ms;
  box-shadow: 0 0 3vh black;
  bottom: 0;
  border-radius: 0;
}

body {
  background-image: url("wood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-size: 1em;
}

header {
  position: sticky;
  background-color: white;
  box-shadow: 0 -3px 3vh;
  width: 100%;
  height: 10vh;
  
  display: flex;
  align-content: stretch;
}

.menu_title{
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 4rem;
  text-align: center;
}
.header_item {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  font-size: 1.5em;
  text-align: center;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0 1px 0 0;
  border-color: #191919;
  border-style: solid;

  color: black;
  font-family: 'Roboto', sans-serif;
  z-index: 3;
}

img.header_item {
  width: 9vh;
  height: 10vh;
}

a.header_item {
  flex-grow: 1;
}

a:visited.header_item {
  color: black;
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
}

a#thispage {
  text-shadow: 0px 1px 0px gray;
}

a:visited#thispage {
  text-shadow: 0px 1px 0px gray;
}

h1.content_item{
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 6.25rem;
  text-shadow: 2px 2px 5px black;
}

h1.content_item#lineone {
  margin-top: 2vh;
  margin-left: 2vw;
}
h1.content_item#linetwo {
  margin-left: 5vw;
  margin-bottom: 18vh;
}

#content_box {
  background-color: white;
  width: 100%;
  height: 46vh;
  box-shadow: 0 -3px 3vh;
}

.name_holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mobile_lineone {
  padding-left: 4vw;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 90%;
}

#mobile_linetwo {
  padding-left: 7vw;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 90%;
}

#mobile_spacer {
  width: 100vw;
  height: 20vh;
}

#content_mobile {
  background-color: white;
  width: 100vw;
  height: 70vh;
  box-shadow: 0 3px 3vh;
}